<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <h1>Notes</h1>
        <p>
            <a href="/noteEdit" th:href="@{/noteEdit}">Create</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="note : ${noteList}">
                    <td th:text="${note.id}">1</td>
                    <td th:text="${note.title}">Test</td>
                    <td>
                        <a href="/noteEdit/1" th:href="@{/noteEdit/__${note.id}__}">Edit</a>
                        <a href="/noteDelete/1" th:href="@{/noteDelete/__${note.id}__}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>